@media only screen and (max-width: 1020px) {
  .Recipe.card {
    width: 40% !important;
  }
  .Recipe.card .recipe-ingredients {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .Recipe.card {
    width: 45% !important;
  }
  .Recipe.card .recipe-ingredients {
    font-size: 0.8rem;
    padding: 0;
  }
  .Recipe.card .recipe-ingredients > ol {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .search-form.input-group {
    width: 70%;
  }
  .Recipe.card {
    width: 55% !important;
  }
}
